<div [className]="'wrapper'">
  <div [className]="'components'">
    <div [className]="'info-box'">
      <div style="flex-basis: 40%">
        1
      </div>
      <div style="flex-basis: 60%">
        Por favor, faça o login para ver o pedido e ter acesso a receita com o modo de preparo
      </div>
    </div>

    <img width="180" src="./assets/images/logo-coco-bambu.png" alt="Logotipo Coco Bambu">

    <div [className]="'authentication'">
      <input type="text" placeholder="Nome do usuário">
      <input type="password" placeholder="Senha">
      <button>
        Acessar
      </button>
    </div>
  </div>
</div>
